.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
 background-color: #008148; /* this is a green */
}

.button-error {
 background-color: #931621; /* this is a maroon */
}

.button-warning {
    background-color: #F26419;
}

.button-secondary {
 background-color: #5B85AA; /* this is a light blue */
}