.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
 background-color: #D24544; /* this is a green */
}

.button-error {
 background-color: #6F66D2; /* this is a maroon */
}

.button-warning {
    background-color: #D044D2; /* this is an orange */
}

.button-secondary {
 background-color: #D24544; /* this is a light blue */
}