.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
 background-color: #306BAC; /* this is a green */
}

.button-error {
 background-color: #F4442E; /* this is a maroon */
}

.button-warning {
    background-color: #efe93a;
    color: #030200; /* this is an orange */
}

.button-secondary {
 background-color: #020122; /* this is a light blue */
}